// Editor

$blue: #05507c;
$blue-transparent: #107bd480;
// $blue-light: #326a97;
$blue-light: #0385d2;

$green: #4ab04a;
$green-dark-transparent: #4ab04a40;

$grey-bright: #757677;
$grey-bright-transparent: #c9cacb80;
$grey: #212223;
$grey-dark: #111213;
$grey-light: #313233;
$grey-light-transparent: #40414280;
$grey-lighter: #434445;
$grey-lighter-transparent: #64656680;

$orange: #e68300;

$red: #f20013;
$red-dark-transparent: #f2001340;

$white: #ffffff;
$white-dark: #cbcccd;

$yellow: #c4bb28;
// $yellow-darker: #5e5a14;

$cyan: #00b6b7;
$cyan-light: #00e2e3;
// $cyan-dark: #009293;
$cyan-dark-transparent: #00b6b780;

// Code

$identifiers: #cbcccd;
$keywords: #0fa2f0;
$operators: #be4ec6;
$strings: #4ab04a;
$numbers: #c4bb28;
$regexps: #e68300;
$comments: #757677;
$jsdoc-type: #545556;
$jsdoc-variable: #9899a0;
$invalid: #f20013;